.App {
  text-align: center;
}

.App-image {
  color: rgb(240, 3, 3);
  min-height: 50vh;
  position: absolute;
  background-color: rgba(0,0 0,.4);
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(215, 123, 123);
}

.App-link {
  color: #61dafb;
}


